<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>CRUD</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>                               
            </ul>            
          </div>
        </div>
      </nav>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Registro</div>
                <div class="card-body">
                    <form action="/save" method="POST">
                        <div class="mb-3">
                        <label for="productos" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1">
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Equipo</label>
                            <select id="equipo" name="equipo" class="form-select" aria-label="Default select example" tabindex="2">
                                <option value="Atlanta Hawks" selected>Atlanta Hawks</option>
                                <option value="Boston Celtics">Boston Celtics</option>
                                <option value="Brooklyn Nets">Brooklyn Nets</option>
                                <option value="Charlotte Hornets">Charlotte Hornets</option>
                                <option value="Chicago Bulls">Chicago Bulls</option>
                                <option value="Cleveland Cavaliers">Cleveland Cavaliers</option>
                                <option value="Dallas Mavericks">Dallas Mavericks</option>
                                <option value="Denver Nuggets">Denver Nuggets</option>
                                <option value="Detroit Pistons">Detroit Pistons</option>
                                <option value="Golden State Warriors">Golden State Warriors</option>
                                <option value="Houston Rockets">Houston Rockets</option>
                                <option value="Indiana Pacers">Indiana Pacers</option>
                                <option value="Los Angeles Clippers">Los Angeles Clippers</option>
                                <option value="Los Angeles Lakers">Los Angeles Lakers</option>
                                <option value="Memphis Grizzlies">Memphis Grizzlies</option>
                                <option value="Miami Heat">Miami Heat</option>
                                <option value="Milwaukee Bucks">Milwaukee Bucks</option>
                                <option value="Minnesota Timberwolves">Minnesota Timberwolves</option>
                                <option value="New Orleans Pelicans">New Orleans Pelicans</option>
                                <option value="New York Knicks">New York Knicks</option>
                                <option value="Oklahoma City Thunder">Oklahoma City Thunder</option>
                                <option value="Orlando Magic">Orlando Magic</option>
                                <option value="Philadelphia 76ers">Philadelphia 76ers</option>
                                <option value="Phoenix Suns">Phoenix Suns</option>
                                <option value="Portland Trail Blazers">Portland Trail Blazers</option>
                                <option value="Sacramento Kings">Sacramento Kings</option>
                                <option value="San Antonio Spurs">San Antonio Spurs</option>
                                <option value="Toronto Raptors">Toronto Raptors</option>
                                <option value="Utah Jazz">Utah Jazz</option>
                                <option value="Washington Wizards">Washington Wizards</option>
                            </select>
                            
                        </div>    
                        <div class="mb-3">
                        <label for="productos" class="form-label">Talla</label>
                        <select id="talla" name="talla" class="form-select" aria-label="Default select example" tabindex="2">
                            <option value="S" selected>S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">Xl</option>                           
                        </select>
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Precio</label>
                            <input type="number" class="form-control" id="precio" name="precio" tabindex="1">
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Stock</label>
                            <input type="number" class="form-control" id="stock" name="stock" tabindex="1">
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Descripcion</label>
                            <!-- <input type="text" class="form-control" id="descripcion" name="descripcion" tabindex="1"> -->
                            <textarea class="form-control" id="descripcion" name="descripcion" tabindex="1"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">URL Img</label>
                            <input type="text" class="form-control" id="img" name="img" tabindex="1">
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Codigo</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" tabindex="1">
                        </div>

                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>