<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/register.css">
    <title>Registro</title>
</head>
<body>
   <div class="Registro"> 
        <form class="form-registro" method="post" action="/register" id="registro-form">
            <h1 id="title-register">Registro</h1>
            <div class="Nombre">
                <input type="text" name="nombre" class="control"  placeholder="Nombre" required>
            </div>
            <div class="Apellido">
                <input type="text" class="control" name="apellido" placeholder="Apellido" required>
            </div>
            <div class="Correo">
                <input type="email" class="control" name="correo" placeholder="Correo" required>
            </div>
            <div class="Direccion">
                <input type="text" class="control" name="direccion" placeholder="Dirección" required>
            </div>
            <div class="Telefono">
                <input type="number" class="control" name="telefono" placeholder="Teléfono" required>
            </div>
            <select id="rol" name="rol" class="select-css" hidden>
                <option value="data-entry" selected>data-entry</option>
                <option value="admin">admin</option>
            </select>
            <div class="Fecha-Nacimiento">
                <input type="date" class="control" id="fecha-nacimiento" name="fecha_nacimiento" required>
            </div>
            <div class="Password">
                <input type="password" class="control" name="password" placeholder="Contraseña" required>
            </div>
            <input class="button-Registro" type="submit" value="Registrar">
            <p><a id="link-login" href="/">¿Ya tienes una cuenta?</a></p>
        </form>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script>
        document.getElementById('registro-form').addEventListener('submit', function(event) {
            const fechaNacimiento = new Date(document.getElementById('fecha-nacimiento').value);
            const hoy = new Date();
            const edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
            const mes = hoy.getMonth() - fechaNacimiento.getMonth();

            // Verificar si el mes y el día reducen la edad en un año.
            if (mes < 0 || (mes === 0 && hoy.getDate() < fechaNacimiento.getDate())) {
                edad--;
            }

            if (edad < 18) {
                event.preventDefault(); // Detener el envío del formulario
                Swal.fire({
                    title: 'Registro Denegado',
                    text: 'Debes ser mayor de edad para registrarte.',
                    icon: 'error',
                    confirmButtonText: 'Entendido'
                });
            }
        });
   </script>
</body>
</html>


